.centeral-part {
  background-color: rgb(245, 245, 245);
}
.image-container {
  position: relative;
}
.time {
  position: absolute;
  bottom: 1px;
  right: 8px;
  height: 13px;
  background-color: rgb(52, 52, 52);
  color: white;
  margin-top: 6px;
  margin-bottom: 8px;
  padding-left: 5px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 6px;
  font-family: bold;
  border-radius: 3px;
}
.gird{
  margin-left: 10px;
  
  vertical-align: top;
  margin-top: 10px;
  
}

.intro-picture{
  cursor: pointer;
  width: 100%;
  margin-top: 6px;
  border-radius: 5px;
  height: 250px;
}
.intro-picture:hover {
  opacity: 0.9;
}
.intro-picture:active{
opacity: 0.6;
}

.video-discription{
font-size: 13px;
margin-bottom: 13px;
margin-top: 10px;
font-weight: 600;

}

.view{
color: rgb(96, 96, 96);
font-size: 12px;
display: inline-block;
margin-top: 3px;
display: block;
}

.channel-name{
margin-top: 0px;
font-size: 12px;
margin-bottom: 0;
cursor: pointer;
color: rgb(96, 96, 96);
display: inline-block;


}
.profile-picture-container{
display: inline-block;
width: 40px;
height: 40px;
vertical-align: top;
margin-top: 10px;

}
.profile-picture {
height: 100%;
width: 100%;
vertical-align: bottom;
border-radius: 20px;
cursor: pointer;

}

.video-discription-container {
display: inline-block;
flex-direction: row;
}
.centeral-part {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 10px;
row-gap: 15px;
}
@media (max-width: 820px){
  .centeral-part {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 821px) and (max-width: 1030px){
  .centeral-part {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.profile-picture-and-video-discription-container {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
  
}