body {
  padding-top: 75px;
  padding-left: 80px;
}
p{
  font-family: arial;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.what {
  margin-top: 1000px;
  margin-bottom: 1000px;
  margin-left: 400px;
}