/* justify-contents: space-betwen  space betwen center or at the end */


.header {
display: flex; 
padding-left: 10px;
height: 85px;
align-items: center;
border-width: 0px;
border-color: rgb(205, 203, 202);
border-style: solid;
justify-content: space-between;
position: fixed;
background-color: white;
left: 0;
right: 0;
top: 0px;
z-index: 100; /* element with highr be on top of other default is 0 */
}
.left-header {
 display: flex;
 width: 150px;
 margin-right: 120px;
 align-items: center;

}
.hamburger-menu {
  width: 26px;
  height: 26px;
  margin-left: 17px;
  cursor: pointer;
}
.youtube-logo {
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.middel-header {
  
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 600px;
  
} 


.search-bar {
  flex: 1;
  height: 42px;
  border-color: rgb(205, 203, 202);
  border-style: solid;
  border-width: 1px;
  width: 0px;
  font-size: 17px;
  padding-left: 29px;
  font-weight: 500;
}
.search-bar:active {
  border-color: rgb(205, 203, 202);
}

.search-bar::placeholder {
  font-size: 15px;
  
}

.search-icon-container {
  height: 45px;
  margin-right: 4px;
  background-color: rgb(248, 247, 247);
  border-width: 1px;
  border-color: rgb(205, 203, 202);
  border-style: solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
}


.search-icon-container:active {
  box-shadow:  2px 2px rgb(174, 174, 173);
  margin-top: 2px;
  position: relative;
  
}
.search-icon-container .tooltip,
.voice-search-container .tooltip {
  position: absolute;
  bottom: -15px;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.voice-search-container .tooltip {
  font-size: 13px;
  position: absolute;
  bottom: -40px;
  background-color:black;
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.search-icon-container:hover .tooltip, 
.voice-search-container:hover .tooltip {
  opacity: 1;
}
.search-icon-container:active .tooltip {
  opacity: 0;
}
.search-icon {
  background-color:  rgb(248, 247, 247);
  width:47px;
  height: 27px;
  padding-top: 5px;
  cursor: pointer;
  padding-top: 8px;
}

.voice-search-container {
  margin-left: 10px;
  border-color: none;
  border-style: solid;
  border-width: 0px;
  border-radius: 29px;
  position: relative;
  display: flex;
  justify-content: center;
}
.voice-search {
  width: 30px;
  height: 38px;
  cursor: pointer;
  padding-bottom: 6px;
}


.right-header {
  width: 190px;
  margin-right: 25px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.upload-icon {
  height: 30px;
  cursor: pointer;
}
.youtube-apps {
  height: 30px;
  cursor: pointer;
}
.notification-icon {
  height: 30px;
  cursor: pointer;
}
.user-profile-picture {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  cursor: pointer;
}


  
      